<h1>New User Recommendation</h1>

<% form_for(@user_recommendation) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :recommender %><br />
    <%= current_user.username %>
  </p>
  <p>
    <%= f.label :product_id %><br />     
    <%= link_to @product.name, @product %>
    <%= f.hidden_field :product_id, :value => @product.id  %>
  </p>
  <p>   
    <%= f.label 'I recommend it to...' %><br />
    <div> 
    <% current_user.friends.each do |friend| -%>
      <td>
        <%= check_box_tag "targert_users[]", "#{friend.id}", false %>  
        <%= friend.username %>  
      </td>              
    <% end -%> 
    </div>
  </p>
  <p>
    <%= f.submit 'Recommend!' %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>