<% content_for :head do %>    
<link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="http://jqueryui.com/latest/jquery-1.3.2.js"></script>
<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.tabs.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tabs').tabs();
  });
  </script>
<% end -%>

<div id="user_profile">
  
  <h1>Welcome, <%=h @user.username %></h1>
 
  <div id="tabs">
      <ul>
          <li><a href="#system_recommendations"><span>System Product Recommendations</span></a></li> 
          <li><a href="#user_recommendations"><span>Friend's Product Recommendations</span></a></li> 
          <li><a href="#friends"><span>Friends</span></a></li>
      </ul>
      <div id="friends">
        <ul>
          <% for friendship in @user.friendships %>
            <li>
              <%=h friendship.friend.username %>
              (<%= link_to "remove", friendship, :method => :delete %>)
            </li>
          <% end -%>
        </ul>
        <p><%= link_to "Find Friends", users_path %></p>      
      </div>
      <div id="system_recommendations" class="recommendations">
          <% for product in @user.recommended_products %> 
            <div class="recommendation">  
              <%= render :partial => 'products/definition_list', :locals => { :product => product } %>
              <span style="display: none"><%=h product.recommendation_score %></span>
            </div>
          <% end -%>
      </div>
      <div id="user_recommendations" class="recommendations">  
        <% UserRecommendation.for(current_user).each do |user_recommendation|%> 
        <div class="recommendation">
          <%= render :partial => 'products/definition_list', :locals => { :product => user_recommendation.product } %>  
          <span class="recommender">recommended by <%=h user_recommendation.recommender %></span>
        </div>
        <% end -%>
      </div>
  </div>                    

</div>
