= render @user

- if current_user.can_send_recommendation_to?(@user)
  %div
    %strong{:style => 'font-size: 18px'}
      %h1= link_to "Realizar recomendações", new_user_user_recommendation_path(@user)
%br
   
%h2= "Avaliações de produtos feitas por #{@user.name}" 

%table
  %tr
    %th Produto
    %th Nota
  - for rating in @ratings
    %tr
      %td= link_to h(rating.product.name), rating.product
      %td
        %ul.star-rating{:id => "star-rating-for-product-#{rating.product.id}"}
          %li.current-rating{ :style => "width:#{rating.stars*20}%"}= "#{rating.stars} estrelas"

