<h2>Login</h2>

<% form_for resource_name, :url => session_path(resource_name) do |f| -%>
  <p><%= f.label :email, 'E-mail' %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password, 'Senha' %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.submit "Entrar" %></p>
<% end -%>

<%- if devise_mapping.recoverable? %>
  <%= link_to "Esqueceu a senha?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? %>
  <%= link_to "Não recebeu as instruções para confirmação?", new_confirmation_path(resource_name) %><br />
<% end -%>
