<h1>Listing offers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Image</th>
    <th>Brand</th>
    <th>List price</th>
    <th>Link</th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><strong><%=h offer.name %></strong></td>
    <td><%=h offer.category %></td>
    <td><img src="<%=h offer.img_src %>" alt="<%=h offer.img_alt %>" width="100" height="100"></td>
    <td><center><%=h offer.brand %></center></td>
    <td><%=h number_to_currency(offer.list_price.to_f / 100.0, :unit => offer.currency, :separator => ",", :delimiter =>"")%></td>
    <td><%=h offer.link %></td>
    <td><%= link_to 'Show', product_offer_path(offer.product,offer) %></td>
    <td><%= link_to 'Edit', edit_product_offer_path(offer.product,offer) %></td>
    <td><%= link_to 'Destroy', product_offer_path(offer.product,offer), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @offers %>
<br />

<%= link_to 'New offer', new_product_offer_path %>