<p>
  <b>Name:</b>
  <%=h @offer.name %>
</p>

<p>
  <b>List price:</b>
  <%=h @offer.list_price %>
</p>

<p>
  <b>Brand:</b>
  <%=h @offer.brand %>
</p>

<p>
  <b>Link:</b>
  <%=h @offer.link %>
</p>

<p>
  <b>Img src:</b>
  <%=h @offer.img_src %>
</p>

<p>
  <b>Img alt:</b>
  <%=h @offer.img_alt %>
</p>

<p>
  <b>Category:</b>
  <%=h @offer.category %>
</p>

<p>
  <b>Currency:</b>
  <%=h @offer.currency %>
</p>


<%= link_to 'Edit', edit_product_offer_path(@offer.product,@offer) %> |
<%= link_to 'Back', product_offers_path %>