- title "Usuários"
-(1..6).each do |i|
  %h3= "Etapa : #{i}"
  = User.count(:conditions => {:stage_number => i })
- @users.each do |user|
  = render user 

  %strong= "Etapa: #{user.stage_number} - Progresso: #{user.stage_progress}/#{user.stage_limit} - Grupo: #{user.group_id} (#{user.group.name})"
    
