- title "Usuários"

- @users.each do |user|
  = render user 

  %strong= "Etapa: #{user.stage_number} - Progresso: #{user.stage_progress}/#{user.stage_limit} - Grupo: #{user.group_id} (#{user.group.name})"
    