%dl
  %dt= link_to product.name, product
  %dd[product]
    - if product.photo
      %img{:src => "#{product.photo}",:alt => "#{product.img_alt}", :width => 200, :height => 200 }
    - else
      = image_tag 'product_pic_unavailable_large.jpg'
    %blockquote
      %p= product.brand
  %dd
    - if defined?(truncate_description) and truncate_description
      %p= truncate_html(product.description, :length => 400)
    - else
      %p= product.description
    -if defined?(show_stars) and show_stars
      %strong Seu interesse neste produto:
      %div
        %small{:style => "vertical-align: top;"} Pouco Interesse
        %div{:style => "display: inline-block;"}
          = render :partial => 'shared/star_rating', :locals => {:rating => rating, :product => product}
        %small{:style => "vertical-align: top;"} Muito Interesse
        - if current_user.can_rate?
          - unknown =  rating.new_record? || rating.unknown
          - display = rating.new_record? ? 'none' : ''
          %div{:id => "#{product.id}-checkbox", :style => "display: #{display};"}
            %strong Você já conhecia este produto?
            %div
              = check_box_tag("nc-#{product.id}","#{product.id}", unknown,{:onclick => remote_function(:url => {:controller => :products, :action => :unknown },:with => "'id='+$('nc-#{product.id}').value+'&unknown='+$('nc-#{product.id}').checked")}) + "<b>não</b>"
            %div{:id => "nc-#{product.id}-message"}