%dl
  %dt= link_to product.name, product
  %dd[product]
    - if product.photo
      %img{:src => "#{product.photo}",:alt => "#{product.img_alt}", :width => 200, :height => 200 }
    - else
      = image_tag 'product_pic_unavailable_large.jpg'
    %blockquote
      %p= product.brand
  %dd
    %ul
      %li.price= product.price
    - if defined?(truncate_description) and truncate_description
      %p= truncate(product.description, :length => 400)
    - else
      %p= product.description
    -if defined?(show_stars) and show_stars
      %strong Sua avaliação sobre este produto:
      = render :partial => 'shared/star_rating', :locals => {:product => product, :user => (respond_to?(:user) ? user : current_user)}
    