%dl
  %dt= link_to product.name, product
  %dd[product]
    - if product.img_src
      %img{:src => "#{product.img_src}",:alt => "#{product.img_alt}", :width => 200, :height => 200 }
    - else
      = image_tag 'product_pic_unavailable_large.jpg'
    %blockquote
      %p= product.brand
  %dd
    %ul
      %li.price= product.price
    %p= truncate product.description, :length => 400
    -unless respond_to?(:show_stars) and show_stars
      %strong Avalie este produto:
      = render :partial => 'shared/star_rating', :locals => {:product => product, :user => (respond_to?(:user) ? user : current_user)}
    