%dl
  %dt= link_to product.name, product
  %dd[product]
    - if product.photo
      %img{:src => "#{product.photo}",:alt => "#{product.img_alt}", :width => 200, :height => 200 }
    - else
      = image_tag 'product_pic_unavailable_large.jpg'
    %blockquote
      %p= product.brand
  %dd
    - if defined?(truncate_description) and truncate_description
      %p= truncate_html(product.description, :length => 400)
    - else
      %p= product.description
    -if defined?(show_stars) and show_stars
      %strong Seu interesse neste produto:
      %div
        %small{:style => "vertical-align: top;"} Pouco Interesse
        %div{:style => "display: inline-block;"}
          = render :partial => 'shared/star_rating', :locals => {:rating => rating, :product => product}
        %small{:style => "vertical-align: top;"} Muito Interesse
