%dl
  %dt= link_to product.name, product
  %dd[product]
    - if product.photo
      %img{:src => "#{product.photo}",:alt => "#{product.img_alt}", :width => 200, :height => 200 }
    - else
      = image_tag 'product_pic_unavailable_large.jpg'
    %blockquote
      %p= product.brand
  %dd
    %ul
      %li.price= product.price
    - if defined?(truncate_description) and truncate_description
      %p= truncate(product.description, :length => 400)
    - else
      %p= product.description
    -if defined?(show_stars) and show_stars
      %strong Sua avaliação sobre este produto:
      = render :partial => 'shared/star_rating', :locals => {:product => product, :user => (respond_to?(:user) ? user : current_user)}
      - if current_user.can_rate? 
        - rating = Rating.find(:first, :conditions => {:user_id => current_user, :product_id => product})
        - unknown = rating ? rating.unknown : false
        = check_box_tag ("nc-#{product.id}","#{product.id}", unknown, :onclick => remote_function(:update => "nc-#{product.id}-ok", :url => { :action => :unknown }, :with => "'id='+$('nc-#{product.id}').value+'&unknown='+$('nc-#{product.id}').checked" ))
        = "não conheço"
        %div{:id => "nc-#{product.id}-ok"}
