<%= render :partial => 'product_search', :locals => {:search => @search}%>

<% if @products %>
    <p>
      Odernar por:
      <%= order @search, :by => :name, :as => "nome" %>
      <%= order @search, :by => :popularity, :as => "popularidade" %>
    </p>  

    <div id="productList">
      <% @products.each do |product| %>
      <%= render :partial => 'products/product', :locals => {:product => product, :show_stars => true, :truncate_description => true, :stars => product.stars}  %>
      <% end -%>
    </div>
    <div>                           
      <%= render :partial => 'product_search', :locals => {:search => @search}%>  
      <%= will_paginate @products %> 
    </div> 
<% else %>
<div id="productList">
</div>
<% end -%>

