<h1>Product</h1>

<%= render :partial => 'hproduct', :locals => { :product => @product } %>
               
<div id="product-nav-bar" >
  <%= link_to 'Back', products_path %> |
  <%= link_to 'Make a review', new_product_review_path(@product) %> |
  <%= link_to 'Show reviews', product_reviews_path(@product) %> |
  <%= link_to "Recommend it!", new_product_user_recommendation_path(@product) %>   

  <% if current_user  %>
      <%= render :partial => 'user_recommendations' %>
  <% end -%>  
</div>


